.Pagination__tab {
  background-color: var(--color-extra-light-grey);
}

.Pagination__tab__text {
  color: var(--color-dark-grey);
}

.Pagination__tab--active {
  background-color: var(--color-white);
  border-radius: 0;
}

.Pagination__tab--active:hover {
  cursor: default;
}

.Pagination__tab--active__text {
  color: var(--color-grey);
}
