.Pagination {
  padding: var(--section-padding);
}

.Pagination__container {
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Pagination__tabs {
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-basis: 33.33%;
  width: 33.33%;
}

.PaginationSize {
  flex-basis: 33.33%;
  width: 33.33%;
}

.PaginationSize__select__input {
  width: 60px;
  background-color: var(--color-extra-light-grey);
}

.PaginationSize__select__selected,
.PaginationSize__select__icon {
  color: var(--color-dark-grey);
}

.PaginationTotal {
  display: flex;
  justify-content: center;
  flex-basis: 33.33%;
  width: 33.33%;
}

.PaginationTotal__text {
  color: var(--color-dark-grey);
}

.PaginationSeparator {
  margin: 0 var(--element-margin);
  cursor: default;
}
