.MasterList {
  width: 100%;
}

.MasterList__icon {
  margin: 0 var(--section-margin);
}

.MasterListHead__description,
.MasterListItem__description {
  text-align: left;
  width: 250px;
}

.MasterList__buttons {
  padding: var(--section-padding);
}

.MasterList__container {
  padding: var(--section-padding);
}

.MasterList__table {
  table-layout: auto;
}

.MasterListItem--active {
  background-color: var(--color-brand-secondary);
}

.MasterListItem {
  cursor: default;
}

.MasterListItemBox__userMap {
  min-width: 14vw;
}
